* {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
}

#chat {
  width: 100%;
  color: white;
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  padding: 10px;


}
.window {
height: 100%;
color: white;
background-color: black;
word-wrap: break-word;
overflow: auto;
margin-bottom: 10px;



height: calc(100% - 10px);
height: -moz-calc(100% - 10px);
height: -webkit-calc(100% - 10px);
height: -o-calc(100% - 10px);
height: calc(100% - 10px);
}
motd {
color: lightblue;
}
server {
color: red;
}
private {
color: gray;
}
chatcommand {
color: #7c71f7;
}
body {
margin: 0;
padding: 0;
background-color: black;


height: calc(100% - 35px);
height: -moz-calc(100% - 35px);
height: -webkit-calc(100% - 18px);
height: -o-calc(100% - 35px);
height: calc(100% - 35px);
}
